<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <%= render 'layouts/header' %>
    </header>
    <div class="body st-hover st-current">
      <div class="container st-hover">
        <p id="notice"><%= notice %></p>
        
        <div class="row st-hover">
          <div class=".col-xs-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
        <%= render 'layouts/footer' %>
    </footer>
 
  </body>
</html>
